<footer class="w-full bg-gray-50 border-t border-gray-200 py-4 mt-auto">
    <div class="max-w-3xl mx-auto text-center">
    <span class="text-sm text-gray-500">
      Made with <span class="text-red-500">❤️</span> by Mohamed Elghandour
    </span>
    </div>
</footer>
